@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .bg-conic-gradient {
    background: linear-gradient(
      90deg,
      #44ff9a -0.55%,
      #44b0ff 22.86%,
      #8b44ff 48.36%,
      #ff6644 73.33%,
      #ebff70 99.34%
    );
  }
  .intro-img-blur-bg {
    background: conic-gradient(
      from 180deg at 50% 50%,
      #0aefff -69.37deg,
      #0f83ff 31.88deg,
      #b056e7 120deg,
      #ff9966 204.37deg,
      #0aefff 290.63deg,
      #0f83ff 391.87deg
    );
  }
  .text-gradient {
    background: linear-gradient(
      to right bottom,
      hsl(179, 84%, 5%) 50%,
      rgba(255, 255, 255, 20%)
    );
    background-clip: text;
    color: transparent;
  }
}
